<div class="container">
  <h3>Post your Ad</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="item">Item Name</label>
        <input
          type="text"
          class="form-control"
          id="item"
          placeholder="your item"
        />
      </div>
      <div class="form-group">
        <label for="image">Image Url</label>
        <input
          type="text"
          class="form-control"
          id="image"
          placeholder="image url"
        />
      </div>
      <div class="form-group">
        <label for="image">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          placeholder="price"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Condition</label>
        <select class="form-control" id="condition">
          <option>New</option>
          <option>Used</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>
