<div class="col-sm-12 row mt-5 d-flex justify-content-center">
  <div class="col-sm-12 d-flex justify-content-center">
    <div class="classifieds-list-search mb-1">
      <input
        [(ngModel)]="queryString"
        type="text"
        class="form-control list-search"
        placeholder=" search classifieds ads"
        name="search"
      />
      <button class="btn btn-info btn-large search-main">
        Search
      </button>
    </div>
  </div>
  <div *ngIf="classifieds">
    <app-classifieds-item
      *ngFor="let item of classifieds | filter: queryString"
      [classified]="item"
      [index]="item.id"
    ></app-classifieds-item>
    <div>
      <button
        [disabled]="!authService.isAuthenticated()"
        class="btn btn-info btn-lg btn-block mt-1"
        (click)="newAd()"
      >
        New Ad
      </button>
      <span *ngIf="!authService.isAuthenticated()"
        >Please Login to post new Ad!</span
      >
    </div>
  </div>
</div>
