<div class="row">
  <div class="col-sm-12">
    <div class="btn btn-success mt-3" (click)="newAd()">New Ad</div>
    <hr />
  </div>
</div>
<!-- <div class="card mb-3" *ngFor="let ad of classifieds">
  <img class="card-img-top" src="{{ ad.imageUrl }}" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div> -->
<div>
  <app-classifieds-item
    *ngFor="let item of classifieds; let i = index"
    [classified]="item"
    [index]="i"
  ></app-classifieds-item>
</div>
