<div class="row">
  <div class="col-sm-10">
    <app-favorites-edit></app-favorites-edit>
    <hr />
    <p>My Favorites</p>
  </div>
</div>

<div class="card mb-3" *ngFor="let favorite of favorites">
  <img
    class="card-img-top"
    src="{{ favorite.imageUrl }}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{ favorite.name }}</h5>
    <p class="card-text">{{ favorite.description }}</p>
    <p class="card-text">
      <small class="text-muted">{{ favorite.price }}</small>
    </p>
  </div>
</div>
